@model DurumViewModel

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
<form method="post" class="col-6">
    <div class="card">
        <div class="card-header bg-warning text-center bg-gradient">Durum Bilgileri Güncelleme</div>
        <div class="card-body">
            <div class="row mb3">
                <input type="hidden" asp-for="TeklifId" />
                <label class="form-label">Teklif adı giriniz</label>
                <input class="form-control" asp-for="TeklifAdi" placeholder="lütfen isim giriniz" required />
                <label class="form-label">Musteradi giriniz</label>
                <input class="form-control" asp-for="MusteriAdi" placeholder="lütfen sıra giriniz" required />
                <label class="form-label">fiyat giriniz</label>
                <input class="form-control" asp-for="Fiyat" placeholder="lütfen sıra giriniz" required />
                <label class="form-label">durumu giriniz</label>
                <select asp-for="DurumAdi" asp-items="@ViewBag.DurumListesi" class="form-control">
                </select>
            </div>
        </div>
        <div class="card-footer text-center">
            <button type="submit" class="btn btn-primary">Edit</button>
            <button type="reset" class="btn btn-secondary">Reset</button>
        </div>
    </div>
</form>
